<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eetFestijn</title>
    {% load bootstrap3 %}
    {% load display_euro %}
    {% bootstrap_css %}
    {% load static %}
    {% load git_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}?v={% git_head %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 sidebar">
                <h2>Order</h2>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_messages %}
                    <p>How do you want to pay?</p>
                    <ul class="nav nav-pills wbw-preference">
                        <li class="active"><a class='paymentmethod' data-method='participant' data-toggle="pill" href="#" data-target="#participate-tab, #no-name-tab">- I'm on the wiebetaaltwat-list</a></li>
                        <li><a class='paymentmethod' data-method='bystander' data-toggle="pill" href="#" data-target="#participate-tab, #name-tab">- I'm paying someone who is on the list</a></li>
                        <li><a class='paymentmethod' data-method='outoflist' data-toggle="pill" href="#" data-target="#no-participate-tab, #name-tab">- We're not using the list</a></li>
                    </ul>
                    <input type='hidden' name='paymentmethod' value='participant' />
                    <hr>
                    <div class="tab-content">
                        <div id="name-tab" class="tab-pane">
                            <div class="form-group">
                                <label class="control-label" for="id_name">Name</label>
                                <input class="form-control" id="id_name" maxlength="200" name="name" placeholder="Naam" title="" type="text"/>
                            </div>
                        </div>
                        <div id="no-name-tab" class="tab-pane"></div>
                    </div>
                    <div class="tab-content">
                        <div id="participate-tab" class="tab-pane active">
                            <div class="form-group">
                                <label class="control-label" for="id_participant">List-participant</label>
                                <select class="form-control" id="id_participant" name="participant">
                                    <option value="none" selected="selected">---------</option>
                                    {% for participant in participants %}
                                    <option value="{{ participant.wbw_id }}">{{ participant.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="no-participate-tab" class="tab-pane"></div>
                    </div>
                    {% if warning_externals %}
                    <div class="tab-content">
                        <div id="name-tab" class="tab-pane">
                            <div class="alert alert-warning">
                                <strong>Please note!</strong>
                                As non-Technicie member you're welcome to join, but we're not takeaway.com.
                                The rules are easy: <br /><br />
                                <strong>joining dinner = joining the pickup team</strong>

                                <br /><br />
                                If you're the one ordering for a non-member then make sure that they will join the pickup team.
                            </div>
                        </div>
                        <div id="no-name-tab" class="tab-pane"></div>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="form-group">
                        <label class="control-label">Foods</label>
                        <table class="table table-striped" id='ordertable'>
                            <tr><th style='width:70%'>Name</th><th style='width:20%'>Prices</th><th></th></tr>
                            <tr id='nofood'><td colspan='3'>You have not selected any foods.</td></tr>
                            <tr id='total' data-total='0'><th>Total: </th><td>{{ 0 | euro }}</td><td></td></tr>
                        </table>
                    </div>
                    <button type='submit' class='btn btn-primary' id='submitbtn'>Order</button>
                    <a class='btn btn-default' href="{% url 'orders:summary' %}" data-toggle="tooltip" data-placement="top" title="Printable summary">{% bootstrap_icon "print" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:summary_PDF' %}" data-toggle="tooltip" data-placement="top" title="PDF summary">{% bootstrap_icon "save" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:overview' %}" data-toggle="tooltip" data-placement="top" title="Advanced overview">{% bootstrap_icon "list" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:receipts' %}" data-toggle="tooltip" data-placement="top" title="Receipts">{% bootstrap_icon "tags" %}</a>
                </form>
            </div>
            <div class="col-sm-8 col-sm-offset-4 main">
                <h2>Menu</h2>
            {% if cols.0 %}
                <div class='row'>
                    {% for col in cols %}
                    <div class="col-sm-6">
                        {% for category in col %}
                        <h3>{{ category.name }}</h3>
                        <table id="menu" class="table table-striped table-hover">
                            {% if category.random_item %}
                            <tr class='randomitem'>
                                <td>{{ category.random_item }}</td>
                                <td>{% bootstrap_icon "random" %}</td>
                            </tr>
                            {% endif %}
                            {% for item in category.items.all %}
                            <tr class='item' data-id='{{ item.pk }}' data-price='{{ item.real_price }}'>
                                <td>
                                    {{ item.name }}
                                    {% if item.description %}
                                        <span class='description' data-toggle="tooltip" data-placement="top" title="{{ item.description }}">{% bootstrap_icon "info-sign" %}</span>
                                    {% endif %}
                                    <span class='ordered'></span>
                                </td>
                                {% if item.real_price != item.price %}
                                <td>{{ item.real_price | euro }}<br><span class='oldprice'>{{ item.price | euro }}</span></td>
                                {% else %}
                                <td>{{ item.real_price | euro }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No menu available.</p>
            {% endif %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery=1 %}
    <script type="text/javascript" src="{% static 'orders/script.js' %}?v={% git_head %}"></script>
    <div class='hidden' id='deleteicon'><a class='removelink text-danger'>{% bootstrap_icon "trash" %}</a></div>
    <div class='hidden' id='okicon'><span class='text-success'>{% bootstrap_icon "ok" %}</span></div>
</body>
</html>
