<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eetFestijn - overview</title>
    {% load bootstrap3 %}
    {% load display_euro %}
    {% load static %}
    {% load git_head %}
    {% load real_price_at %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'orders/overview.css' %}?v={% git_head %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 main">
                <h2>Orders ({{ grandtotal | euro }})</h2>
                <form role='form' method='post' style='margin-bottom:25px;'>
                    {% csrf_token %}
                    <p>
                        Below are the current orders. Do you want to start over with an empty
                        order list then click
                        <button type="submit" name="process" value="all"
                                class="btn btn-success btn-xs"
                                onclick="return confirm('Are you sure you want to process all orders?')">
                                process all orders {% bootstrap_icon 'tag' %}
                        </button>
                        to clear the list and generate a receipt.
                        {% if slack %}
                            You can also share the current orders using
                            <button type="submit" name="slack" value="post" class="btn btn-success btn-xs"
                                    onclick="return confirm('Are you sure you want to share the orders in Slack?')">
                                    <i class="fa fa-slack"></i>
                                    Slack
                            </button>
                        {% endif %}
                        If you want you can make a
                        <a class="btn btn-default btn-xs" role="button" href="{% url 'summary' %}">
                            {% bootstrap_icon 'print' %}
                            printable overview
                        </a>.
                    </p>
                    <p>
                        Tip! Send the orders to Péage printers using this bash-oneliner:<br>
                        <span style='font-size:12px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;'>{% include 'orders/printscript.html' %}</span>
                    </p>
                    <p>
                        If you like living on the edge you can also use:<br>
                        <span style='font-size:12px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;'>curl {{ print_url }} | sh</span>
                    </p>
                </form>
                {% bootstrap_messages %}
                {% if unpaid %}
                    <p><strong>Caution!</strong> There are orders that still have to be processed in WieBetaaltWat. Who paid for them?</p>
                    <form role='form' method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class='row'>
                                <div class='col-sm-8'>
                                    <select class="form-control" id="id_participant" name="participant">
                                        <option value="none" selected="selected">---------</option>
                                        {% for participant in participants %}
                                        <option value="{{ participant.wbw_id }}">{{ participant.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class='col-sm-3'>
                                    <button type="submit" name="pay"
                                            class="btn btn-warning"
                                            onclick="return confirm('Are you sure you want to mark all WieBetaaltWat orders as paid?')">
                                             {% bootstrap_icon 'euro' %} Mark all as paid
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% for order in orders %}
                <form role='form' method='post'>
                    {% csrf_token %}
                    <table class="table" style='margin-bottom:25px;'>
                        <tr>
                            <th style='width:70%'>{{ order.name }}
                                <div class='ordertime'>{{ order.date | date:'Y-m-d H:i'}}</div>
                            </th>
                            <th>{{ order.total | euro }}</th>
                            <th><button name='remove' value='{{ order.pk }}' type='submit' class='btn btn-danger btn-xs' onclick="return confirm('Weet je zeker dat je deze bestelling van {{ order.name}} wilt verwijderen?')" {% if order.paid %}disabled{% endif %}>{% bootstrap_icon 'trash' %}</button></th>
                        </tr>
                        {% for item in order.items.all %}
                        <tr><td>{{ item.name }}</td><td>{{ item | real_price_at:order.date | euro }}</td><td></td></tr>
                        {% endfor %}
                        <tr>
                            <td colspan='3'>Payment method:
                                {% if order.paid %}<s>{% endif %}
                                {% if order.paymentmethod == 'participant' %}
                                    <strong>Oneself</strong> via Wiebetaaltwat
                                {% elif order.paymentmethod == 'bystander' %}
                                    Using Wiebetaaltwat, via <strong>{{ order.participant.name }}</strong>
                                {% else %}
                                    <strong>Outside the list</strong>
                                {% endif %}
                                {% if order.paid %}</s> <em>Paid!</em>{% endif %}
                            </td>
                        </tr>
                    </table>
                </form>
                {% endfor %}
            </div>
        </div>
        <div class="row">
           <div class="col-sm-4 col-sm-offset-4">
               <a href="{% url 'index' %}" role="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span>Back to the order page</a>
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery=1 %}
</body>
</html>
